/* @override */

/*@import url("carousel.css");*/

.navbar-default {
  background-color: #dd0707;
  border-color: #e7e7e7;
}


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}

.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}

h1,
.h1 {
  font-size: 42px;
  font-weight: 300;
}

h2,
.h2 {
  font-size: 26px;
}
h3,
.h3 {
  font-size: 20px;
}
h4,
.h4 {
  font-size: 16px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}

p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}

.footer-links {
  float: left;
  margin-bottom: 18px;
  margin-left: 0px
}

/*.footer-links {
  float: left;
  margin-bottom: 18px;
}
.footer-links .menu {
  list-style-type: none;
  margin-left: 0;
}
.footer-links .menu li {
  float: left;
  margin-left: 10px;
}*/

.copyright {
	margin: 0 0 0 45px;
	padding: 0;
	display: block;
	float: left;
	clear: both;
	background: url(http://localhost/~dev/swiftkickmedia.com/images/Swift-Kick-Media-Logo-100.png);
}

.navbar-brand {
	float: left;
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
	line-height: 20px;
	background: url(http://localhost/~dev/swiftkickmedia.com/images/Swift-Kick-Media-Logo-70.png) no-repeat;
	width: 300px;
	height: 90px;
	margin-top: 15px;
	font-size: 0;
	color: black;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* @group Image */

[hidden], template {
display:none
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto
}

img {
	border: 0
}

tr, img {
	page-break-inside: avoid
}

img {
	vertical-align: middle
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

.featurette-heading {
  font-size: 50px;
}


@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


.carousel-indicators {
  position: absolute;
  bottom: 10px;
	z-index: 15;
	list-style: none;
  text-align: center;
	width: 30%;
	padding-left: 0;
	left: 0;
	margin-left: 10%; /*Move Slider Indicator globes - margin value*/
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
	margin: 1px;
	text-indent: -999px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
	float: left;
	left: 0; /*Keep Indicators to left*/
	padding-left: 0;/*Keep Indicators to left*/
}

.carousel-caption {
  position: absolute;
	bottom: 20px;
  z-index: 10;
  padding-top: 20px;
	padding-bottom: 20px;
	color: #ffffff;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	padding-left: 10%; /*Left Margin*/
}
@media screen and (min-width: 768px) {

  .carousel-caption {
  	left: 0%;
  	padding-bottom: 10px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}

