/*@import url("carousel.css");*/

#main article {
  margin-bottom: 18px;
  /*border-bottom: 1px solid #eeeeee;*/
  padding: 0 0 9px;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 35px;
    padding-bottom: 15px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
  color: #333;
	font-weight: bold;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #666;
	font-weight: bold;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: white;
}

.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}

h1,
.h1 {
  font-size: 42px;
  font-weight: 300;
}

h2,
.h2 {
  font-size: 26px;
}
h3,
.h3 {
  font-size: 20px;
}
h4,
.h4 {
  font-size: 16px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}

p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}

.footer-links {
  float: left;
  margin-bottom: 18px;
  margin-left: 0px
}

/*.footer-links {
  float: left;
  margin-bottom: 18px;
}
.footer-links .menu {
  list-style-type: none;
  margin-left: 0;
}
.footer-links .menu li {
  float: left;
  margin-left: 10px;
}*/

.copyright {
	margin: 0 0 0 45px;
	padding: 0;
	display: block;
	float: left;
	clear: both;
	
}

.navbar-brand {
	float: left;
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
	line-height: 20px;
	background: url(http://www.swiftkickmedia.com/images/Swift-Kick-Media-Logo-70.png) no-repeat;
	width: 300px;
	height: 90px;
	margin-top: 15px;
	font-size: 0;
	color: black;
}

#main article {
	margin-bottom: 18px;
	/*border-bottom: 1px solid #eee;*/
	padding: 0 0 9px

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* @group Image */

[hidden], template {
display:none
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto
}

img {
	border: 0
}

tr, img {
	page-break-inside: avoid
}

img {
	vertical-align: middle
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

.featurette-heading {
  font-size: 50px;
}


@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


/*Carousel-------------------------------------------------- */
.dark-slider{
	color: black;
}

.light-slider{
	color: white;
}

.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0%), color-stop(rgba(0, 0, 0, 0.0001) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0%), color-stop(rgba(0, 0, 0, 0.5) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-control:hover,
.carousel-control:focus {
  outline: none;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
	z-index: 15;
	list-style: none;
  text-align: center;
	width: 30%;
	padding-left: 0;
	left: 0;
	margin-left: 10%; /*Move Slider Indicator globes - margin value*/
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
	margin: 1px;
	text-indent: -999px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
	float: left;
	left: 0; /*Keep Indicators to left*/
	padding-left: 0;/*Keep Indicators to left*/
}
.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
}
.carousel-caption {
  position: absolute;
	bottom: 20px;
  z-index: 10;
  padding-top: 20px;
	padding-bottom: 20px;
	color: #ffffff;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	padding-left: 10%; /*Left Margin*/
}
.carousel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicons-chevron-left,
  .carousel-control .glyphicons-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
  .carousel-caption {
  	left: 0%;
  	padding-bottom: 10px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}

