/*@import url("carousel.css");*/


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}

.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}

h1,
.h1 {
  font-size: 42px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* @group Image */

[hidden], template {
display:none
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto
}

img {
	border: 0
}

tr, img {
	page-break-inside: avoid
}

img {
	vertical-align: middle
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

.featurette-heading {
  font-size: 50px;
}


@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
